$header-height: 55px;

.header-wrapper {

  .header-shadow {
    height: $header-height;
  }

  .header-border {
    width: 100%;
    height: 5px;
    background: #00B6B6;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);
    backdrop-filter: blur(10px);
  }

  .header-container {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
    backdrop-filter: blur(10px);

    .header-content {
      display: flex;
      margin: 0 auto;
      align-items: center;
      height: $header-height;
      width: var(--container-width);
      color: #FFFFFF;

      .header-logo {
        margin-right: 130px;

        .logo {
          width: 40px;
          height: auto;
        }
      }

      .header-links {
        flex-shrink: 0;
        display: flex;

        .header-link {
          height: 22px;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          padding-left: 22px;
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: left center;

          &.phone {
            background-image: url(../images/nav/phone.png);
          }

          &.car {
            background-image: url(../images/nav/car.png);
          }

          &.pc {
            background-image: url(../images/nav/pc.png);
          }

          &.software {
            background-image: url(../images/nav/software.png);
          }

          &.digital {
            background-image: url(../images/nav/digital.png);
          }

          &.ranking {
            background-image: url(../images/nav/ranking.png);
          }

          &:not(:first-child) {
            margin-left: 40px;
          }

          &.active {
            color: #00B6B6;
            position: relative;

            &:after {
              content: '';
              width: 0;
              height: 0;
              border-left: 7.5px solid transparent;
              border-right: 7.5px solid transparent;
              border-bottom: 10px solid #00B6B6;
              position: absolute;
              bottom: -17px;
              left: 50%;
              transform: translateX(-50%);
            }

            &.phone {
              background-image: url(../images/nav/phone-active.png);
            }

            &.car {
              background-image: url(../images/nav/car-active.png);
            }

            &.pc {
              background-image: url(../images/nav/pc-active.png);
            }

            &.software {
              background-image: url(../images/nav/software-active.png);
            }

            &.digital {
              background-image: url(../images/nav/digital-active.png);
            }

            &.ranking {
              background-image: url(../images/nav/ranking-active.png);
            }
          }
        }
      }

      .header-search {
        display: flex;
        justify-content: space-between;
        width: 256px;
        height: 36px;
        border-radius: 18px;
        border: 1px solid #E3E3E3;
        padding-left: 20px;
        margin-left: 28px;

        .header-input {
          background: transparent;
          border: none;
          color: #FFFFFF;
          flex: 1;
          width: 154px;
          font-size: 16px;

          &::placeholder {
            color: #FFFFFF;
          }

          &:focus {
            border: none;
          }
        }

        .header-search-icon {
          width: 50px;
          border-left: 1px solid #FFFFFF;
          display: flex;
          align-items: center;
          padding-left: 14px;
          padding-right: 17px;
          cursor: pointer;

          img {
            width: 18px;
          }
        }
      }
    }
  }
}
