:root {
  --container-width: 1200px;
  --active-color: #00B6B6;
  --black-color: #252525;
  --black-bg-color: #282626;
  --blue-color: #2F88FF;
  --border-color: #E5E5E5;
  --secondary-color: #666666;
  --tip-color: #999999;
  --primary-color: #333333;
  --white-color: white;
  --image-filter-color: rgba(40, 38, 38, 0.96);
}
