.ranking-electronic-wrapper.box
  .box-header
    img.header-icon(src="./images/panel/electronic.png")
  .electronic-content
    .top
      .item.one
        img(src="./images/phone.png")
        .rank top 1
        .name 华为mate60 pro
      .item.two
        img(src="./images/phone.png")
        .rank top 2
        .name 华为mate60 pro
      .item.three
        img(src="./images/phone.png")
        .rank top 3
        .name 华为mate60 pro
    .list
      .item
        .rank 04
        img.item-img(src="./images/phone.png")
        .item-info
          p.name oppo find n3 flip
          p.price 售价:12827元
      .item
        .rank 05
        img.item-img(src="./images/phone.png")
        .item-info
          p.name oppo find n3 flip
          p.price 售价:12827元
      .item
        .rank 06
        img.item-img(src="./images/phone.png")
        .item-info
          p.name oppo find n3 flip
          p.price 售价:12827元
      .item
        .rank 07
        img.item-img(src="./images/phone.png")
        .item-info
          p.name oppo find n3 flip
          p.price 售价:12827元
      .item
        .rank 08
        img.item-img(src="./images/phone.png")
        .item-info
          p.name oppo find n3 flip
          p.price 售价:12827元


