.ranking-tech-tab-wrapper
  .tech-tab-content
    .layui-tab.layui-tab-brief
      ul.layui-tab-title
        li.layui-this 综合
        li 亮度
        li 色温
        li 色域
        li 色准
      .layui-tab-content
        .layui-tab-item.layui-show
          .item
            img.rank(src="./images/ranking/one.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            img.rank(src="./images/ranking/two.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            img.rank(src="./images/ranking/three.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            .rank 04
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            .rank 05
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
        .layui-tab-item
          .item
            img.rank(src="./images/ranking/one.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            img.rank(src="./images/ranking/two.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            img.rank(src="./images/ranking/three.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            .rank 04
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            .rank 05
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
        .layui-tab-item
          .item
            img.rank(src="./images/ranking/one.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            img.rank(src="./images/ranking/two.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            img.rank(src="./images/ranking/three.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            .rank 04
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            .rank 05
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
        .layui-tab-item
          .item
            img.rank(src="./images/ranking/one.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            img.rank(src="./images/ranking/two.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            img.rank(src="./images/ranking/three.png")
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            .rank 04
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")
          .item
            .rank 05
            .item-content
              .info
                .name 荣耀 Magic6 RSR 保时捷设计
                .mark 82.50分
              .layui-progress
                .layui-progress-bar(lay-percent="50%")

