footer.footer-wrapper
  .footer-container.content-container
    .footer-content
      a.footer-logo(href="/")
        img.logo(src="./images/logo.png")
      .contact
        .title 关于机锋
        p 商务合作
        p ran@gfan.com
        p 联系电话:13581829310
      .agreement
        .title 协议条款
        a.link(href="/") 注册协议
        a.link(href="/") 隐私协议
        a.link(href="/") 侵权投诉之道
      .qrcodes
        .item
          img(src="./images/demo.png")
          p 扫码下载x x x x x x x x
        .item
          img(src="./images/demo.png")
          p 扫码下载x x x x x x x x
        .item
          img(src="./images/demo.png")
          p 扫码下载x x x x x x x x
  .footer-bottom 未成年人举报电话:18810419581 | 未成年人举报邮箱:3368185844@qq.com | 违法和不良信息举报电话:18810419581 | 举报邮箱:3368185844@qq.com <br/> | 2007-2024 机锋网 GFAN.COM | 京ICP备2021025888号 | 京公网安备11010202008075

