#scroll-top.header-wrapper
  .header-shadow
  header.header-container
    .header-content
      a.header-logo(href="./index.html")
        img.logo(src="./images/logo.png")
      .header-links
        a.header-link.header-js-link.phone(href="./channel.html")
          img(src="./images/nav/phone.png")
          span 移动终端
        a.header-link.header-js-link.car(href="./channel.html")
          img(src="./images/nav/car.png")
          span 智能汽车
        a.header-link.header-js-link.pc(href="./channel.html")
          img(src="./images/nav/pc.png")
          span 电脑外设
        a.header-link.header-js-link.software(href="./channel.html")
          img(src="./images/nav/software.png")
          span 软件生态
        a.header-link.header-js-link.digital(href="./channel.html")
          img(src="./images/nav/digital.png")
          span 数码家居
        a.header-link.header-js-link.ranking(href="./ranking.html")
          img(src="./images/nav/ranking.png")
          span 专业榜单
      .header-search
        input.header-input(type="text", placeholder="搜索")
        .header-search-icon
          img.logo(src="./images/search.png")
