#scroll-top.header-wrapper
  .header-shadow
  .header-border
  header.header-container
    .header-content
      a.header-logo(href="./index.html")
        img.logo(src="./images/logo.png")
      .header-links
        a.header-link.header-js-link.phone(href="./channel.html" data-link="phone")
          span 移动终端
        a.header-link.header-js-link.car(href="./channel.html" data-link="car")
          span 智能汽车
        a.header-link.header-js-link.pc(href="./channel.html" data-link="pc")
          span 电脑外设
        a.header-link.header-js-link.software(href="./channel.html" data-link="software")
          span 软件生态
        a.header-link.header-js-link.digital(href="./channel.html" data-link="digital")
          span 数码家居
        a.header-link.header-js-link.ranking(href="./ranking.html" data-link="ranking")
          span 专业榜单
      .header-search
        input.header-input(type="text", placeholder="搜索")
        .header-search-icon
          img.logo(src="./images/search.png")
