extends common/layout.pug

block append styles
  link(rel="stylesheet" href="./styles/article-detail.css")
  link(rel="stylesheet" href="./styles/index/nav.css")

block content
  .advertisement(style="margin:0")
    img(src="./images/")
  include home/nav.pug
  .article-detail-container.content-container.space-between
    .left
      .title 博主进行小米SU7与极氪007碰撞测试疑
      .author
        img.avatar(src="")
        .name 不器说
        .time 2024-09-10
      .content
        p 就在近日，8月13日，知名汽车博主高若翔（@原来是翔翔啊 ），发布了一条“小米su7与极氪007对撞”的相关视频，一经发出，就在全网引起数百万的播放量和高度的关注。
            img(src="./images/demo.png")
        p 在原视频的内容中（原视频现已经过换源修改）：在经历了碰撞测试后，极氪007车门可以正常打开，并且车机中控第一时间拨通了急救电话，博主进行了接听，在检查小米su7的情况时，博主声称：由于前车的小电瓶被对车主梁损毁，车门无法打开，并且也没有收到急救电话。
            img(src="./images/demo.png")
        p 但很快，有不少细心的网友发现，在碰撞测试过后，两车的航拍镜头中，原本小米su7小电瓶的位置是空的，疑似在碰撞之前就被取出，而且在加速碰撞的时候，小米并无任何车灯亮起的现象，怀疑博主测试之时，提前将小电瓶取出，并且在碰撞测试拆解之后，小电瓶又出现在了原本的位置，被博主称为：电源线断开导致无法开门呼救，在碰撞拆解的时候，小米原本的小电瓶外观较于原本的模样有明显的损毁，整个视频模糊不清，疑点重重
            img(src="./images/demo.png")
        p 很快，该博主14日晚间在B站发布了一条道歉视频，对之前引起争议的“小米SU7与极氪007对撞测试视频”进行了说明。声称：在碰撞测试结束后，第一时间取出小电瓶以防危险的情况发生，然后才进行的拍摄，并且在拍摄结束后又把小电瓶安装回去尝试开门，结果就将电瓶损坏了，而且是由于技师在测试前将小电瓶取出再安装回去，电瓶没有拧紧而导致的断电情况发生，种种说辞模糊不清，难以自证，并且也未对小米也有拨通救援电话进行回应。很快，小米汽车官方就在微博进行了回应：
            img(src="./images/demo.png")
        p 官方宣传，事故后的第一时间，小米官方就拨通的救援电话，并无人回应，并且在车身后部有备用的小电池用作紧急呼救，对此，博主并未尽兴吧明确回应。小米官方也宣称：这种碰撞测试不严谨，记录不完整，结论不真实。许多网友也对该博主表示失望和质疑。
            img(src="./images/demo.png")
        p 目前该博主作为一名有体量的公众人物，已经涉及恶意抹黑，造假，虚构数据等多种违法行为，对于后续的进展，机锋网也将随时保持关注。
      .panel.related-article
        .panel-header
          img.header-icon(src="./images/panel/related-article.png")
        .panel-content
          a.item(href="") 爱玛Q7重磅亮相2024世界智能产业博览会：重相2024世界智能产业博览会：重相2024世界智能产业博览会：重
          a.item(href="") 爱玛Q7重磅亮相2024世界智能产业博览会：重
          a.item(href="") 爱玛Q7重磅亮相2024世界智能产业博览会：重
          a.item(href="") 爱玛Q7重磅亮相2024世界智能产业博览会：重
          a.item(href="") 爱玛Q7重磅亮相2024世界智能产业博览会：重
          a.item(href="") 爱玛Q7重磅亮相2024世界智能产业博览会：重
    .right
      img.ad(src="./images/demo.png")
      .panel.article
        .panel-header
          img.header-icon(src="./images/panel/see.png")
        .panel-content
          a.item(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
          a.item(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
          a.item(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
          a.item(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
          a.item(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
      include components/follow

