extends common/layout.pug

block append styles
  link(rel="stylesheet" href="./styles/channel.css")

block content
  .advertisement
    img(src="./images/demo.png")
  .channel-wrapper.content-container
    .banner
      img(src="./images/banner.png")
    .imgs
      a(href="")
        img(src="./images/demo.png")
      a(href="")
        img(src="./images/demo.png")
      a(href="")
        img(src="./images/demo.png")
    .channel-container
      .left.panel
        .panel-header
          img.header-icon(src="./images/panel/recommend-video.png")
        .channel-content
          a.item(href="")
            .cover
              img(src="./images/demo.png")
            .info
              .title 超高速风驰闪拍捕捉运动精彩瞬间，华为Pura 70系列主题大片亮相8大城市
              .subtitle 随着巴黎奥运会的盛大开幕，全球的目光再次聚焦于体育竞技的激情与荣誉
              .author
                img.avatar(src="./images/demo.png")
                .name 硬核丶玩家
                .time 2024/8/4 19:29:30
          a.item(href="")
            .cover
              img(src="./images/demo.png")
            .info
              .title 超高速风驰闪拍捕捉运动精彩瞬间，华为Pura 70系列主题大片亮相8大城市
              .subtitle 随着巴黎奥运会的盛大开幕，全球的目光再次聚焦于体育竞技的激情与荣誉
              .author
                img.avatar(src="./images/demo.png")
                .name 硬核丶玩家
                .time 2024/8/4 19:29:30
          a.item(href="")
            .cover
              img(src="./images/demo.png")
            .info
              .title 超高速风驰闪拍捕捉运动精彩瞬间，华为Pura 70系列主题大片亮相8大城市
              .subtitle 随着巴黎奥运会的盛大开幕，全球的目光再次聚焦于体育竞技的激情与荣誉
              .author
                img.avatar(src="./images/demo.png")
                .name 硬核丶玩家
                .time 2024/8/4 19:29:30
          a.item(href="")
            .cover
              img(src="./images/demo.png")
            .info
              .title 超高速风驰闪拍捕捉运动精彩瞬间，华为Pura 70系列主题大片亮相8大城市
              .subtitle 随着巴黎奥运会的盛大开幕，全球的目光再次聚焦于体育竞技的激情与荣誉
              .author
                img.avatar(src="./images/demo.png")
                .name 硬核丶玩家
                .time 2024/8/4 19:29:30
          a.item(href="")
            .cover
              img(src="./images/demo.png")
            .info
              .title 超高速风驰闪拍捕捉运动精彩瞬间，华为Pura 70系列主题大片亮相8大城市
              .subtitle 随着巴黎奥运会的盛大开幕，全球的目光再次聚焦于体育竞技的激情与荣誉
              .author
                img.avatar(src="./images/demo.png")
                .name 硬核丶玩家
                .time 2024/8/4 19:29:30
      .right
        img.ad(src="./images/demo.png")
        .hot.layui-tab.layui-tab-brief
          ul.layui-tab-title
            li.layui-this 热文日榜
            li 热文周榜
          .layui-tab-content
            .layui-tab-item.layui-show
              a.item(href="")
                .rank 1
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
              a.item(href="")
                .rank 2
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
              a.item(href="")
                .rank 3
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
              a.item(href="")
                .rank 4
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
              a.item(href="")
                .rank 5
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
            .layui-tab-item
              a.item(href="")
                .rank 1
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
              a.item(href="")
                .rank 2
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
              a.item(href="")
                .rank 3
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
              a.item(href="")
                .rank 4
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
              a.item(href="")
                .rank 5
                .text 同档唯一超声波指纹 iQOO Neo9S Pro+上手体验iQOO Neo9S Pro+上手
        .dialogue.panel
          .panel-header
            img.header-icon(src="./images/panel/dialogue.png")
          .panel-content
            a.top(href="")
              img(src="./images/demo.png")
              p 努比亚AI+双旗舰新品发布会
            .texts
              a.text(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
              a.text(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
              a.text(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
              a.text(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
              a.text(href="") 美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
            a.more(href="")
              span 查看更多
              img(src="./images/down-arrow.png")
        .see.panel
          .panel-header
            img.header-icon(src="./images/panel/all-see.png")
          .panel-content
            .texts
              a.item(href="")  美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
              a.item(href="")  美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
              a.item(href="")  美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
              a.item(href="")  美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元
              a.item(href="")  美的推出冷暖箱 DC-4M：4L 容量、半导体制冷，售价 169 元

