extends common/layout.pug

block append styles
  link(rel="stylesheet" href="./styles/video.css")

block content
  .advertisement
    img(src="./images/")
  .video-wrapper.content-container
    img.banner(src="./images/banner.png")
    .video-container.panel
      .panel-header
        img.header-icon(src="./images/panel/recommend-video.png")
      .video-content
        a.item(href="")
          img(src="./images/")
          p iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹
        a.item(href="")
          img(src="./images/")
          p iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹
        a.item(href="")
          img(src="./images/")
          p iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹
        a.item(href="")
          img(src="./images/")
          p iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹
        a.item(href="")
          img(src="./images/")
          p iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹
        a.item(href="")
          img(src="./images/")
          p iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹
        a.item(href="")
          img(src="./images/")
          p iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹
        a.item(href="")
          img(src="./images/")
          p iQOO Neo9S Pro+星耀白：不止双芯还有超声波指纹

