// 头条
.headline-wrapper {
  flex: 1;

  .headline-content {
    margin-top: 27px;

    .item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px;
      cursor: pointer;
      height: 28px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(1), &:nth-child(2) {

        &:hover {

          .text {
            padding-left: 24px;
          }
        }

        .text {
          position: relative;
          padding-left: 20px;

          &::after {
            width: 14px;
            height: 14px;
            background: url(../images/headline-top.png) no-repeat left center;
            background-size: contain;
          }
        }
      }

      &:hover {

        .text {
          width: 551px;
          background: #EFFBFB;
          color: var(--active-color);
          position: absolute;
        }
      }

      &:not(:nth-child(1)), &:not(:nth-child(2)) {

        &:hover {

          .text {

            &::after {
              display: none;
            }
          }
        }
      }

      img {
        width: 14px;
      }

      .text {
        width: 505px;
        font-size: 16px;
        color: #222222;
        line-height: 22px;
        position: relative;
        padding-left: 10px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;

        &::after {
          content: "";
          width: 2px;
          height: 2px;
          background: #222222;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .time {
        font-size: 15px;
        color: #888888;
        line-height: 21px;
        margin-left: auto;
      }
    }
  }
}
