.headline-wrapper.panel
  .panel-header
    img.header-icon(src="./images/panel/headline.png")
  .headline-content
    a.item.top(href="")
      p.text 一加13开启预热 京东方特供等深微曲屏
      p.time 08-01
    a.item.top(href="")
      p.text 一加13开启预热 京东方特供等深微曲屏
      p.time 08-01
    a.item.top(href="")
      p.text 一加13开启预热 京东方特供等深微曲屏
      p.time 08-01
    a.item.top(href="")
      p.text 一加13开启预热 京东方特供等深微曲屏
      p.time 08-01
    a.item.top(href="")
      p.text 一加13开启预热 京东方特供等深微曲屏
      p.time 08-01

