.live-wrapper.panel
  .panel-header
    img.header-icon(src="./images/panel/live.png")
    .panel-more
      a() 查看更多
        img(src="./images/right-arrow.png")
  .live-content
    a.item()
      img.play(src="./images/video-play.png")
      img.cover(src="./images/demo.png")
      p 努比亚AI+双旗舰新品发布会
    a.item()
      img.play(src="./images/video-play.png")
      img.cover(src="./images/demo.png")
      p 努比亚AI+双旗舰新品发布会
