.live-wrapper.panel
  .panel-header
    img.header-icon(src="./images/panel/live.png")
    .panel-more
      a(href="./ranking.html") 查看更多
        img(src="./images/right-arrow.png")
  .live-content
    .item
      img(src="./images/demo.png")
      p 努比亚AI+双旗舰新品发布会
    .item
      img(src="./images/demo.png")
      p 努比亚AI+双旗舰新品发布会
