.picture-wrapper.panel
  .panel-header
    img.header-icon(src="./images/panel/picture.png")
    .panel-more
      a(href="./ranking.html") 查看更多
        img(src="./images/right-arrow.png")
  .picture-content
    .item
      img(src="./images/demo.png")
      p iQOO Neo9S Pro+星耀白
    .item
      img(src="./images/demo.png")
      p iQOO Neo9S Pro+星耀白
    .item
      img(src="./images/demo.png")
      p iQOO Neo9S Pro+星耀白
    .item
      img(src="./images/demo.png")
      p iQOO Neo9S Pro+星耀白
