.ranking-wrapper.panel.layui-tab.layui-tab-brief
  .panel-header
    ul.layui-tab-title
      li.layui-this 机锋数码榜
      li 机锋汽车榜
    .panel-more
      a(href="./ranking.html") 查看更多
        img(src="./images/right-arrow.png")
  .ranking-content.layui-tab-content
    .layui-tab-item.layui-show
      .item-content
        .ranking-left
          .ranking-item
            img.ranking-img(src="./images/one.png")
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.ranking-img(src="./images/two.png")
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.ranking-img(src="./images/three.png")
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
        .ranking-right
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
    .layui-tab-item
      .item-content
        .ranking-left
          .ranking-item
            img.ranking-img(src="./images/one.png")
            img.item-img(src="./images/phone.png")
            .item-info
              p.name 保时捷911
              p.price 售价:12827元
          .ranking-item
            img.ranking-img(src="./images/two.png")
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.ranking-img(src="./images/three.png")
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
        .ranking-right
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元
          .ranking-item
            img.item-img(src="./images/phone.png")
            .item-info
              p.name oppo find n3 flip
              p.price 售价:12827元

