.recommend-wrapper.panel.content-container
  .panel-header
    img.header-icon(src="./images/panel/recommend.png")
    .panel-more
      a() 查看更多
        img(src="./images/right-arrow.png")
  .recommend-content
    a.item(href="")
      img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
    a.item(href="")
      img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
    a.item(href="")
      img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
    a.item(href="")
      img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
    a.item(href="")
      img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
    a.item(href="")
      img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
  a.more()
    p 查看更多
    img(src="./images/down-arrow.png")
