.short-wrapper.panel.content-container
  .panel-header
    img.header-icon(src="./images/panel/short.png")
    .panel-more
      a() 查看更多
        img(src="./images/right-arrow.png")
  .short-content
    .item
      div
        img.play(src="./images/video-play.png")
        img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
    .item
      div
        img.play(src="./images/video-play.png")
        img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
    .item
      div
        img.play(src="./images/video-play.png")
        img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
    .item
      div
        img.play(src="./images/video-play.png")
        img.cover(src="./images/demo.png")
      .title 华为Mate X5典藏版图赏：神秘幻影紫 尽显奢华范
      .author
        img.avatar(src="./images/demo.png")
        p.name 不器说
        p.time 08-19
