.video-wrapper.panel.content-container
  .panel-header
    img.header-icon(src="./images/panel/video.png")
  .video-content
    .video-line
      .video-author
        img(src="./images/demo.png")
        p.name 机锋网
        p.intro 简介简介简介简介
      .video-list
        a.item(href="")
          .img
            img(src="./images/demo.png")
          p 最新真我GT6上手：质感突破 越级依旧最新真我GT6上手：质感突破 越级依旧
        a.item(href="")
          .img
            img(src="./images/demo.png")
          p 最新真我GT6上手：质感突破 越级依旧最新真我GT6上手：质感突破 越级依旧
        a.item(href="")
          .img
            img(src="./images/demo.png")
          p 最新真我GT6上手：质感突破 越级依旧最新真我GT6上手：质感突破 越级依旧
        a.item(href="")
          .img
            img(src="./images/demo.png")
          p 最新真我GT6上手：质感突破 越级依旧最新真我GT6上手：质感突破 越级依旧
        a.item(href="")
          .img
            img(src="./images/demo.png")
          p 最新真我GT6上手：质感突破 越级依旧最新真我GT6上手：质感突破 越级依旧
