block append styles
  link(rel="stylesheet" href="./styles/index/wb.css")

.wb
  a.item(href="")
    img.cover(src="./images/demo.png")
    .name 机锋网
    .vermicelli 粉丝：203.5万
    .follow
      img(src="./images/follow.png")
      span 关注
  a.item(href="")
    img.cover(src="./images/demo.png")
    .name 机锋君
    .vermicelli 粉丝：88.3万
    .follow
      img(src="./images/follow.png")
      span 关注
  a.item(href="")
    img.cover(src="./images/demo.png")
    .name 机锋安卓手机
    .vermicelli 粉丝：3598
    .follow
      img(src="./images/follow.png")
      span 关注
