.wonderful-wrapper.content-container
  .wonderful-left
    img(src="./images/demo.png")
  .wonderful-right
    .wonderful-right-content
      div
        img(src="./images/demo.png")
      div
        img(src="./images/demo.png")
      div
        img(src="./images/demo.png")
      div
        img(src="./images/demo.png")
    a(href="./video.html")
      img.wonderful-video(src="./images/wonderful-video.png")
